.masonry img {
  position: relative;
}

.masonry img:before {
  content: attr(data-name);
  display: block;
  position: absolute;
  min-height: 214px;
  width: 100%;
  background: #424141;
  text-align: center;
  padding: 10px;
}

.MuiMasonry-root {
  margin: 0 !important;
}
