*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

code {
  width: auto;
  height: auto;
  padding: .2em;
  margin: -.2em 0;
  border-radius: 3px;
  font-size: 85%;
  font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
  text-indent: 0;
  border: none;
  white-space: pre-wrap;
  background: rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

a {
  color: #00b0f4;
  text-decoration: none;
}

.MuiAppBar-root {
  z-index: 100 !important;
}

.table-sticky {
  position: relative;
  border-collapse: collapse;
}

.table-sticky th {
  background: #444;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
